 <!-- Latest compiled and minified CSS -->
<!DOCTYPE html>
<html lang="en">
 {% load static %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "signup/Welcome.css"%}" />
    <link rel="shortcut icon" type="image/png" href="{% static "profile/images/favicon.ico" %}"/>
    <title>Socrates-Welcome</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/home/most_liked">Socrates<p style="font-size:11px;">{{ date_today }}</p></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
           <form class="navbar-form navbar-left">
        <div class="form-group">
          <input id="socrates-search" type="text" class="form-control" placeholder="Search-Socrates">
        </div>
        <button id="searchsubmit" type="button" class="btn btn-default">&#x1f50d;</button>
      </form>
        <li><a href="/home/most_liked"><span class="glyphicon glyphicon-home" aria-hidden="true">Home</span></a></li>
        <li><a href="/account/compare">Compare</a></li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Themes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/home/most_liked">General</a></li>
            <li><a href="/home/sports/most_liked">Sports</a></li>
            <li><a href="/home/market/most_liked">Market</a></li>
               <li><a href="/home/UnitedNations/most_liked">United Nations</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/home/hindinews/most_liked">News in Hindi</a></li>
          </ul>
        </li>
          <li><a href="/account/newspapers/">Newspapers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <div class="imgAbt">
        <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if pic.url %}<img src={{ pic.url }} alt="" style="width:40px;height:40px;border:1px solid #E6E6E6;border-radius:50%;">{% endif %}</a>

                <ul class="dropdown-menu" id="profilemenu">
            <li><a href="/account/profile">My Profile</a></li>
            <li><a href="/account/Myblog/">My Blog</a></li>
            <li><a href="#">My Messages</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/account/settings">Settings</a></li>
              <li role="separator" class="divider"></li>
            <li><a href="/account/logout">Logout</a></li>
          </ul>
        </li>
          </div>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-flui-->
 </nav>
<div class="conatiner" style="margin-top:100px;">
<ul>
    {% for notification in notifications %}
            <li><div data="{{notification.pk}}" class="notify"><a target="_blank" href="{{ notification.onclick_url }}"><p style="font-size:12px;"><span class="glyphicon glyphicon-pencil">&nbsp;</span>{{ notification.message }}</p></a></div></li>
    <hr>
    {% endfor %}
</ul>
    <div class="pagination" style="width:100%;padding:20px;">
        <span class="step-links">
            {% if notifications.has_previous %}
            <a href="?page={{ notifications.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ notifications.number }} of {{ notifications.paginator.num_pages }}
            </span>
            {% if notifications.has_next %}
            <a href="?page={{ notifications.next_page_number }}">next</a>
        {% endif %}
            </span>
        <a href="/account/markallread/" style="float:right;" class="btn btn-default" role="button">Mark All Read</a>
    </div>

</div>

</body>
</html>
