/*@import 'https://fonts.googleapis.com/css?family=Open+Sans'*/
.navbar-default {
     background-image:linear-gradient(
	rgb(161, 161, 161),
	rgb(230, 230, 230)
);
    border-color: black;
    padding: 5px 20px;
    height:60px;
}
/* Socrates setting*/
.navbar-default .navbar-brand {
    color: maroon;
    font-size: 25px;
    font-family:"Times New Roman", Times, serif;
}
/*socrates hover color change*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color:maroon;
}
/*menubar links setting*/
.navbar-default .navbar-nav > li > a {
    color: black;
    margin-left: 10px;
}
/*menu bar links hover setting*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: maroon;

}
/* caret,themes triangle setting */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: black;
    border-bottom-color:black;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: black;
    border-bottom-color: red;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: maroon;
    border-bottom-color: grey;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: blue;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: blue;
}
 .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     color: black;
 }

 .gray-wrapper{
     margin-top: 60px;

 }
 .navbar-right
 {
   width:300px;
   height:60px;
   float:top;
   line-height:30px;
 }
 .navbar-right li
 {
   float:left;
   width:120px;
 }
 .navbar-right a{
  float:left;
  width:130px;

 }
 .navbar-right a.dropdown-toggle
 {
    background: transparent url("images/Default.ico") no-repeat center;
   width:40px;
   margin-top:5px;
   height:40px;
   float:right;
 }
 .navbar-right .dropdown
 {
   margin-left:30px;
   width:30px;
   height:30px;
 }
 .container-fluid
 {
   height:60px;
 }
 div#bs-example-navbar-collapse-1 .collapse .navbar-collapse
 {
    height:60px;
 }
 .navbar-right .dropdown .open
 {
   width:30px;
   float:center;
 }
 .navbar-right .dropdown.open .dropdown-menu li
 {
   text_allign:center;
   width:160px;
 }
 .navbar-right .dropdown.open .dropdown-menu li a
 {
  width:160px;

 }
.span12{
  background-color:white;
  margin-top:100px;
}
.verticalLine {
  border-left: thick solid #ff0000;
}
.thumbnail
{
background-color:rgb(250,250,250);
border-radius:30px;
width:390px;
}
.thumbnail img
{
border-radius:28px;
}

#tiles li
{
width:400px;
display:inline-block;
float:center;
}


.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
