<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Socrates-SignUp</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "signup/SignUp.css"%}" type="text/css"/>
     <link rel="shortcut icon" type="image/png" href="{% static "profile/images/favicon.ico" %}"/>
  <!--<script type="text/javascript" src="{% static "signup/SignUp.js" %}"></script>-->
</head>
<body>
<div class="jumbotron">
  <h1><font color="maroon">Socrates</font></h1>
</div>
<div class="container">
<div class="jumbotron2">
  <h2>Create New Account</h2>
  <form method="post">
{% csrf_token %}

 {{ form.non_field_errors }}

    {{ form.username.errors }}
    {{ form.username}}
      <br><br>
    {{ form.first_name.errors }}
    {{ form.first_name }}
    &nbsp;
    {{ form.last_name.errors }}
    {{ form.last_name }}
        <br><br>
       {{ form.email.errors }}
    {{ form.email }}
<br>
     {{ form.password1.errors }}
    {{ form.password1}}
      &nbsp;&nbsp;
        {{ form.password2.errors }}
    {{ form.password2}}
    <br><br>

    <br>
      <p>Your password can't be too similar to your other personal information.</p>
      <p>Your password must contain at least 8 characters.</p>
      <p>Your password can't be a commonly used password.</p>
    <p>Your password can't be entirely numeric.</p><button type="submit" class="btn btn-default"> &nbsp; &nbsp;SignUp &nbsp; &nbsp;</button>
  </form>
</div>
</div>
<div class="Moto">
  <h2><font color="maroon">I know nothing except the fact of my ignorance.&#160;&#160;- <i>Socrates</i></font></h2>
</div>
</body>
<!--<script type="text/javascript">
 $(document).on('submit','form_horizontal',function(e){
  e.preventDefault();
  $.ajax({
      type:'POST',
      url:'/account/Welcome-to-socrates'
      data:{
             email:$('#inputEmail3').val(),
             password:$('#inputPassword3').val,
             csrfmiddlewaretoken:$('input[name:csrfmiddlewaretoken]').val,
      },
      success:function()
      {
        alert("Account successfully created");
      }
 });
 });-->
</html>
