<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'js/viewprofile.js' %}"></script>
    <link rel="stylesheet" href="{% static "profile/profile.css"%}" type="text/css"/>
    <link rel="shortcut icon" type="image/png" href="{% static "profile/images/favicon.ico" %}"/>
    <title>Socrates-{{user.first_name}} {{user.last_name}}</title>
    <script src="{% static 'js/viewprofile.js' %}"></script>
</head>
<body>
{% if user.is_authenticated %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/home/most_liked">Socrates<p style="font-size:11px;">{{ date_today }}</p></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
           <form class="navbar-form navbar-left">
        <div class="form-group">
          <input id="socrates-search" type="text" class="form-control" placeholder="Search-Socrates" autocomplete="off">
        </div>
        <button id="searchsubmit" type="button" class="btn btn-default">&#x1f50d;</button>
      </form>
        <li><a href="/home/most_liked"><span class="glyphicon glyphicon-home" aria-hidden="true">Home</span></a></li>
        <li><a href="/account/compare">Compare</a></li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Themes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/home/most_liked">General</a></li>
            <li><a href="/home/sports/most_liked">Sports</a></li>
            <li><a href="/home/market/most_liked">Market</a></li>
           <li><a href="/home/UnitedNations/most_liked">United Nations</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/home/hindinews/most_liked">News in Hindi</a></li>
          </ul>
        </li>
          <li><a href="/account/newspapers/">Newspapers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" style="width:60px;position:relative;"><a style="width:50px;padding-right:0px;padding-left:0px;" href="#" class="dropdown-notification" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style="font-size:20px;" class="glyphicon glyphicon-globe"></span>{% if ping %}<span class="badge">{{ ping }}</span>{% endif %}</a>
            <ul id="noti" class="dropdown-menu" style="width: 460px;max-height: 350px;overflow-y: scroll;overflow-x: hidden;margin-top: 24px;">
            {% for notification in all_notifications %}
            <li><div data="{{notification.pk}}" class="notify" style="{% if notification.seen %}background-color:grey;{% endif %}padding:10px;width:450px;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;"><a style="text-decoration:none;width:450px;color:black;white-space:wrap;overflow-x:hidden;" href="{{ notification.onclick_url }}" target="_blank"><p style="font-size:12px;"><span class="glyphicon glyphicon-pencil">&nbsp;</span>{{ notification.message|truncatechars:200 }}</p></a></div></li>
            <li style="width:450px;" role="separator" class="divider"></li>
            {% endfor %}
            <li><div style="text-align:center;width:450px;"><a href="/home/allnotifications/seeall" style="width:450px;">See All</a></div></li>
        </ul>
        </li>
          <div class="imgAbt">
        <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               {% if activeuserimage.url %}
             {% load static %}
  <img src={{ activeuserimage.url }} alt="" style="width:40px;height:40px;border:1px solid #E6E6E6;border-radius:50%;">
</a>
         {% else %}
         {% load static %}
          <img src="{% static "images/Dp.png" %}" alt="" style="width:40px;height:40px;border:1px;border-radius:50%;">
         {% endif %} </a>

                <ul class="dropdown-menu" id="profilemenu">
            <li><a href="/account/profile">My Profile</a></li>
             <li><a href="/account/{{activeuser.username}}/articles">My Articles</a></li>
            <li><a href="/account/{{activeuser.username}}/subscriptions">My Subscriptions</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/account/settings">Settings</a></li>
              <li role="separator" class="divider"></li>
            <li><a href="/account/logout">Logout</a></li>
          </ul>
        </li>
          </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-flui-->
 </nav>


<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-1 sidenav">
        <br><br><br><br>
        <b><p>Feeds</p></b><hr>
      <p><a href="#">Activity</a></p>
      <a href="#">Compares<span class="badge">5</span></a><br><br>
<a href="#">Followers<span class="badge">10</span></a><br><br>
<a href="#">Following<span class="badge">2</span></a><br><br>
    </div>

<div class="col-sm-8 text-left">
    <div class="container">
     <div class="col-md-4">
     <div class="imgAbt">
             {% if details.image.url %}
             {% load static %}
  <img src={{ pic.url }} alt="" style="width:240px;height:240px;border:5px solid #E6E6E6;border-radius:50%;">
         {% else %}
         {% load static %}
          <img src="{% static "images/Dp.png" %}" alt="" style="width:240px;height:240px;border:5px;">
         {% endif %}

     </div>
     </div>
    <div class="col-md-6">
        <h2>{{user.first_name}}&nbsp; {{user.last_name}}</h2>
        <p>{{ details.description }}</p>
        <p>My Website:&nbsp;<a href="#">{{ details.website }}</a></p>
        {% if not viewer.username == user.username %}
        <div class="my-button">
        <button type="button" class="btn btn-secondary" style="background-color:maroon;color:white;">{{ possibleaction }}</button>
        <meta id="my-data" data-possibleaction="{{possibleaction}}" data-pk="{{user.pk}}">
        </div>
        {% endif %}
        </div>
    </div>
<hr>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">

          <p><b>Credentials & Highlights</b><hr><b>Work and employment</b><br>{{ details.workAndemployment }}<br><br><b>Location</b><br>{{ details.location }}</p>

      </div>
      <div class="well">
        <p><b>Interested In &nbsp;<b><hr></p><a href="#">Politics</a><br><br><a href="#">Sports</a><br><br><a href="#">Market</a>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
{% else %}
<p><a href="/account/login">You need to login first</a></p>
<h1>OR</h1>
<p><a href="/account/signup">Get new account here</a></p>
{% endif %}
</body>
</html>
