<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>privacy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static "settings/email.css" %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static "profile/images/favicon.ico" %}"/>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/home/most_liked">Socrates</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
           <form class="navbar-form navbar-left">
        <div class="form-group">
          <input id="socrates-search" type="text" class="form-control" placeholder="Search-Socrates">
        </div>
        <button id="searchsubmit" type="button" class="btn btn-default">&#x1f50d;</button>
      </form>
        <li><a href="/home/most_liked"><span class="glyphicon glyphicon-home" aria-hidden="true">Home</span></a></li>
        <li><a href="/account/compare">Compare</a></li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Themes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/home/politics/most_liked">Politics</a></li>
            <li><a href="/home/sports/">Sports</a></li>
            <li><a href="/home/market">Market</a></li>
              <li><a href="/home/UnitedNations/most_liked">United Nations</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">News in Hindi</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/home/">News in English</a></li>
          </ul>
        </li>
          <li><a href="/account/newspapers/">Newspapers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li><a href="#">Notifications{% if ping %}<span class="badge">{{ ping }}</span>{% endif %}</a></li>
         <div class="imgAbt">
        <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src={{ pic.url }} alt="" style="width:40px;height:40px;border:1px solid #E6E6E6;border-radius:50%;"></a>

                <ul class="dropdown-menu">
            <li><a href="/account/profile">My Profile</a></li>
             <li><a href="/account/{{user}}/articles">My Articles</a></li>
            <li><a href="/account/{{user}}/subscriptions">My Subscriptions</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/account/settings">Settings</a></li>
              <li role="separator" class="divider"></li>
            <li><a href="/account/logout">Logout</a></li>
          </ul>
        </li>
          </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-flui-->
 </nav>

  <div class="box">
 <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Settings
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/account/settings/">Account</a></li>
    <li><a href="/account/psettings/">Privacy</a></li>
    <li><a href="/account/ensettings/">Email & Notification</a></li>
  </ul>
</div>
</div>

<div class="jumbotron">
<b>Content for you</b>
    <hr>
 <div class="checkbox">
    <input type="checkbox" value="">
          <b>Socrates Digests</b>
      <br>
          Socrates Digest emails consist of Top Stories and other popular content from your feed.
      <br>
      Email Frequensy: <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Up to once a day
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Weekly
</label>
 </div>
  <hr>

      <input type="checkbox" value="">
          <b>People You Follow</b>
      <br>
          We'll email you about new questions and answers written or upvoted by people you follow.
      <br>
      Email Frequensy: <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Up to once a day
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Weekly
</label>
      <hr>

      <input type="checkbox" value="">
          <b>Topics You Follow</b>
 </label>
      <br>
          We'll email you about popular news from the topic you follow.
      <br>
  <hr>

     <input type="checkbox" value="">
          <b>Socrates Session Recapes</b>
 </label>
      <br>
          Session Recap emails consist of the best answers from<a href="#">Best Read</a>
      <br>
  <hr>

<b>Likes , Comments and New Followers</b>
    <hr>
 <div class="checkbox">
    <input type="checkbox" value="">
          <b>Likes & Comments</b>
      <br>
      We will email you when another person like or comment on your blog.
      <br>
      Notify Me About: <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Everything
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Smart Filte Approved Content
</label>
<hr>

      <div class="checkbox">
    <input type="checkbox" value="">
          <b>New Followers</b>
      <br>
      We will email you when a new person starts following you.
      <br>
      Notify Me About: <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Everything
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Smart Filte Approved Content
</label>
          <hr>

<input type="checkbox" value="">
          <b>People You Might Know </b>
      <br>
          We'll email you when we find people you might want to know.
      <br>
<hr>
          <b>Mentions & Messages </b>
<hr>
          <input type="checkbox" value="">
          <b>Messages</b>
      <br>
          We'll email you when someone send you a new message on Socrates.
      <br>
<hr>
           <input type="checkbox" value="">
          <b>Mentions</b>
      <br>
          We'll email you when someone mention you in a comment or blog.
      <br>
<hr>
</div>
</div>
</div>
