body
{
  background-color: rgb(255,255,255);
}
.jumbotron
{
  background-image:linear-gradient(
	rgb(161, 161, 161),
	rgb(230, 230, 230)
);
}
.jumbotron h1
{
 font-family:"Times New Roman",Times,serif;
 width:30%;
 height:69.3px;
}
.form-inline
{
width:100%;
height:40px;
}
.checkbox label
{
 width:120px;
 height:30px;
}
