body{
 background: white url("images/socrates1.jpg") no-repeat right bottom;
 background-size:100% 80%;
 line-height:85px;
}
.jumbotron
{
  margin-top:0px;
  background-image:linear-gradient(
	rgb(161, 161, 161),
	rgb(230, 230, 230)
);

  padding: 15px 20px 15px 50px;
}
.jumbotron h1
{
  text-allign:left;
  font-family:"Times New Roman", Times, serif;
}
h2
{
  padding: 15px 20px 15px 50px;
}
.Moto h2
{
  margin-left:570px;
  margin-bottom:100px;
  font-family:"Times New Roman", Times, serif;
  font-size:30px;
}
.btn-group
{
  margin-left:100px;
}
.form-inline
{
  margin-left:400px;
}
.checkbox
{
  width:250px;
  height:20px;
  line height:40px;
}
