<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static "edit/UserBasicEdit.css"%}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static "profile/images/favicon.ico" %}"/>
    {% load static%}
    <script type="text/javascript" src="{% static 'jscroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'scroll.js' %}"></script>
    <title>Socrates-edit</title>
</head>
<body>
{% if user.is_authenticated %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/home/most_liked">Socrates <p style="font-size:11px;">{{ date_today }}</p></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
           <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search-Socrates">
        </div>
        <button type="submit" class="btn btn-default">&#x1f50d;</button>
      </form>
        <li><a href="/home/most_liked"><span class="glyphicon glyphicon-home" aria-hidden="true">Home</span></a></li>
        <li><a href="/account/compare">Compare</a></li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Themes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/home/most_liked">General</a></li>
            <li><a href="/home/sports/most_liked">Sports</a></li>
            <li><a href="/home/market/most_liked">Market</a></li>
             <li><a href="/home/UnitedNations/most_liked">United Nations</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="home/hindinews/most_liked">News in Hindi</a></li>
          </ul>
        </li>
          <li><a href="/account/newspapers/">Newspapers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" style="width:60px;position:relative;"><a style="width:50px;padding-right:0px;padding-left:0px;" href="#" class="dropdown-notification" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style="font-size:20px;" class="glyphicon glyphicon-globe"></span>{% if ping %}<span class="badge">{{ ping }}</span>{% endif %}</a>
            <ul id="noti" class="dropdown-menu" style="width: 460px;max-height: 350px;overflow-y: scroll;overflow-x: hidden;margin-top: 24px;">
            {% for notification in all_notifications %}
            <li><div data="{{notification.pk}}" class="notify" style="{% if notification.seen %}background-color:grey;{% endif %}padding:10px;width:450px;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;"><a style="text-decoration:none;width:450px;color:black;white-space:wrap;overflow-x:hidden;" href="{{ notification.onclick_url }}" target="_blank"><p style="font-size:12px;"><span class="glyphicon glyphicon-pencil">&nbsp;</span>{{ notification.message|truncatechars:200 }}</p></a></div></li>
            <li style="width:450px;" role="separator" class="divider"></li>
            {% endfor %}
            <li><div style="text-align:center;width:450px;"><a href="#" style="width:450px;">See All</a></div></li>
        </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
          <ul class="dropdown-menu" id="profilemenu">
            <li><a href="/account/profile">My Profile</a></li>
            <li><a href="/account/Myblog">My Blog</a></li>
            <li><a href="#">My Messages</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/account/Settings">Settings</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="/account/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-flui-->
 </nav>
<div class="container">
    <form method="post">
    {% csrf_token %}
    {{form.first_name}}
        {{form.last_name}}
        <button type="submit">Save</button>
    </form>
</div>
{% else %}
<div class="jumbotron">
  <h1><font color="maroon">Socrates</font></h1>
<!--<div class="container">-->
    <form class="form-inline" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-default">Login</button>
  <!--<div class="form-group">
    <label for='username'>Email/Username</label>
    <input type="email" class="form-control" id="username" placeholder="jane.doe@example.com">
  </div>
  <div class="form-group">
    <label for='password'>Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
         <button type="submit" class="btn btn-default">Login</button>
        <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me</label>
      </div>
    </div>
  </div>-->
</form>
<!--</div>-->
</div>
<div class="container">
<h2>Create new account now</h2>
<br>
<div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-default" href="/account/signup">Get new account</a>
</div>
    <br><br>
<div class="Moto">
  <h2><font color="maroon">I know nothing except the fact of my ignorance.&#160;&#160;- <i>Socrates</i></font></h2>
</div>
</div>
{% endif %}
</body>
</html>
