/* Twitter Bootstrap http://twitter.github.com/bootstrap/ */
/* Based on Twitter's Bootstrap, artfully masterminded by Mulumba M. Lwatula */

body {
	font-size: 13px;
	line-height: 16px;
}


/* -----------------------------------------
   Header
----------------------------------------- */


 
#un_id {
	background: #C2C6CF url(../images/brandbarbkgd.jpg) repeat-x;
	height: 25px;
	border-bottom: 1px solid #555;
	color: white;
}

#un_icon {
	background: url(../images/en_unicon_w.png) no-repeat 0 0;
	height: 21px;
	text-indent: 5px;
	color: white;
}

#un_icon a {
	color: white;
	line-height: 161.5%;
}

#language-bar {
	background: #001A45;
	height: 25px;
	padding-top: 5px;
}

#language-bar ul {
	text-align: right;
	margin: 0;
	float: right
}

#language-bar ul li#arabic {
	direction: rtl;
	font-family: Tahoma, Arial, "Arabic Transparent";
}

#language-bar ul li#chinese {
/* font-size: .65em; */
}

#language-bar ul li {
	display: inline;
	padding-right: 1em;
	font-family: Tahoma, Arial, "Arabic Transparent";
	font-size: .923em;
	/* font-size: .65em; */
	color: white;
}

#language-bar ul li a {
	color: white;
}

#language-bar .left ul {	
	padding: 3px 0 0 5px;
	margin: 0;
}

#header {
	background: #f2f2f2;
	border-bottom: 1px solid #dbdbdb;
	height: 91px;
	padding: 10px 0 0 0;
/* 	margin-bottom: 45px; */
}

#branding-bar {
	height: 50px;
	background: url(../images/logo_ncs_df.png) no-repeat;
}

@media (max-width: 767px) {
	#header {
		height:45px;
		width:100%;
		margin:0;
		background: #fff;
		border-bottom: 1px dotted #dbdbdb;
	}
	
	#branding-bar {
		height: 35px;
		background: url(../images/logo_mobi.png) no-repeat;
	}
}

#branding-bar-fr {
	height: 50px;
	background: url(../images/logo_fr.png) no-repeat;
}

#branding-bar-radio {
	height: 50px;
	background: url(../images/logo_news_radio.png) no-repeat;
}

#branding-bar-tv {
	height: 50px;
	background: url(../images/logo_news_tv.png) no-repeat;
}

#branding-bar-photo {
	height: 50px;
	background: url(../images/logo_news_photo.png) no-repeat;
}

#branding-bar-webtv {
	height: 50px;
	background: url(../images/logo_news_webtv.png) no-repeat;
}


#header-sg {
	background: #0c2d5e;
	border-bottom: 1px solid #dbdbdb;
	height: 91px;
	padding: 10px 0 0 0;
	margin-bottom: 45px;
}

#branding-bar-sg {
	height: 50px;
	background: url(../images/logo_ncs.png) no-repeat;
}

#branding-bar h1, #branding-bar h4, #branding-bar-fr h1, #branding-bar-fr h4, #branding-bar-radio h1, #branding-bar-radio h4, #branding-bar-tv h1, #branding-bar-tv h4, #branding-bar-photo h1, #branding-bar-photo h4, #branding-bar-webtv h1, #branding-bar-webtv h4, #branding-bar-sg h1, #branding-bar-sg h4 {
	text-indent: -9999px;
	line-height: 0;
}

#branding-bar h4.subheader, #branding-bar-radio h4.subheader, #branding-bar-tv h4.subheader, #branding-bar-photo h4.subheader, #branding-bar-webtv h4.subheader, #branding-bar-sg h4.subheader {
	margin: 0;
}

hr {
	margin: 5px 0 10px 0;
}

hr.tophd {
	border: dotted #ddd;
	border-width: 1px 0 0;
	margin: 10px 0 14px;
}

hr.invi {
	border: dotted #ddd;
	border-width: 1px 0 0;
	margin: 10px 0;
}

hr.invired {
	border: solid #cc3300;
	border-width: 2px 0 0;
	margin: 10px 0 15px;
}

hr.double {
	border: double #ccc;
	border-width: 1px 0 3px;
}
	
ul.breadcrumbs { display: block; background: #fff; margin-top: 15px; padding: 0; border: none; border-radius: 2px; overflow: hidden; }


#search-bar {
	padding-top: 10px;
}

#search-bar .input-text, #footer .input-text {
	width: 210px;
	display: inline;
	padding: 6px 3px 7px;
	margin: 0;
}

#search-bar form {
	margin: 0;
}

#ticker-bar {
	top: 60px;
	margin-top: 5px;
}

#ticker-bar ul#ticker {
	margin: 0;
	height: 17px;
	overflow: hidden;
}

#ticker-bar #ticker {
	margin: 0;
}

#ticker li {
	height: 25px;
	line-height: inherit;
}

#ticker-bar hr {
	margin-top: 0;
	margin-bottom: 10px;
}

#sidebar h4 {
	padding: 3px 0 3px 5px;
	border-top: 3px solid #333;
	background: #eee;
	margin-bottom: 0;
	font-size: 15px;
}

#sidebar.sidebar-story h4 {
	margin-bottom: 11px;
}

#sidebar ul.thumbnails, #sidebar ul.thumbnails li {
	margin-bottom: 0;
}

#sidebar .flex-video {
	margin-bottom: 10px;
}

#sidebar .tab-content {
	overflow: auto;
	margin-top: -1px;
	border: 1px solid #ddd;
	padding: 10px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	border-top: 3px solid #333;
}

#sidebar ul.nav {
	margin-bottom: 0;
}

#footer {
	background: whitesmoke url(../images/footer.jpg) top no-repeat;
/* 	border-top: 1px solid #dbdbdb; */
	height: 100%;
	padding: 25px 20px 0 20px;
	margin-top: 25px;
}

#footer li {
	margin-bottom: 5px;
}

#social-bar h5, #social-bar h6 {
	display: inline-table;
/* 	font-weight: bold; */
}

#copy h4 {
	height: 30px;
	background: url(../images/logo_ncs_sm.png) no-repeat;
	text-indent: -9999px;
}

#un-copy li {
	display: inline;
	text-align: right;
}

/******
Images
********/

#topstory-image img {
	width: 300px;
	height: 200px;
}

div#topsub-story {
	display: block;
	width: 100%;
	overflow: hidden;
	height: 100px;
	margin-bottom: 5px;
}

#focus-image {
	display: block;
	width: 100%;
	overflow: hidden;
	height: 180px;
	margin-bottom: 5px;
}

.focus-image {
	position:absolute;
	display: block;
	visibility:hidden;
	overflow: hidden;
	background-color:#FFFFFF;
	height: 180px;
	text-align:center;
}

.photostory-image {
	display: block;
	width: 100%;
	overflow: hidden;
	height: 100px;
	margin-bottom: 5px;
}

.features-image {
	display: block;
	width: 100%;
	overflow: hidden;
	height: 75px;
	margin-bottom: 5px;
}

.media-image {
	display: block;
	width: 100%;
	overflow: hidden;
	height: 110px;
	margin-bottom: 5px;
}

div#topsub-story img {
	height: auto;
}


#story-image {
	display: block;
	width: 100%;
/*
	overflow: hidden;
	height: 450px;
	margin-bottom: 5px;
*/
}

img.Embed {
	width:180px;
}


/*	--------------------------------------------------
	:: Text
	-------------------------------------------------- */

p.lead-sg-quote {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 200;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0  0 5px 0;
}

h4#story-headline, h4#mainheadline {
	margin-bottom: 10px;
}

#story-head h4 {
	margin: 10px 0;
}

#site-date {
	font-size: 90%;
	margin-bottom: 5px;
	color: #cc0000;
}

.more, .quote-cite {
	text-align: right;
	margin: 5px 0 0;
}

p.redux-height {
	margin-bottom: 0;
}

p.related {
	margin: 0;
}

p, ul {
	color: #333;
}

#newscontent p {
	margin: 0;
}

#story-content {
	margin-top: 10px; 
}

#story-publish-date {
	margin-bottom: 10px;
}

ul.social-buttons {
	margin-bottom: 5px;
}

ul.square {
	list-style-type: square;
	margin-left: 15px;
}

ul.square li.redux {
	line-height: 16px;
}

blockquote {
	padding: 0 0 0 15px;
	margin: 20px; 
	border-left: 5px solid #C30;
	float: right;
	width: 200px;
	background: url(../images/right_quote.png) no-repeat 165px 50%;
	font-weight: bold;
}

blockquote.focus {
	padding: 0 0 0 15px;
	margin: 0 0 10px; 
	width: 93%;
	border-left: 5px solid #C30;
	background: url(../images/right_quote.png) no-repeat 100% 50%;
	font-weight: normal;
}

p.focus-quote {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #333;
	text-align: right;
}

blockquote.newsmaker {
	padding: 0;
	margin: 0;
	width:100%;
	border-left: none;
	background: url(../images/right_quote.png) no-repeat 475px 50%;
	font-weight: normal;
}

.quote-nm {
	background: url(../images/right_quote.png) no-repeat 95% 50%;
}

select.focus-docs {
	margin-bottom: 5px;
	width: 180px;
}

/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
/* #153C71 */
a { color: #005689; text-decoration: none; line-height: inherit; }
.more a { color: #222; }
a:hover { text-decoration: underline; }
	
	

/* -----------------------------------------
   Navigation
----------------------------------------- */

#navigation {
	margin-top: 11px;
	height: 60px;
}

#nav-bar {
	height: 60px;
}

.nav-bar {
	margin: 10px 0 0px;
	height: 60px;
	background: #e5e5e5;
}


/* ====================================================================
	Legacy CSS
=====================================================================*/

#other_top li {
	margin-bottom: 0;
}

#relBrown p {
	margin-bottom: 0;
}

#PhotoHolder3 #PhotoCrop {
	border: 1px solid #ddd;
	xheight: expression( this.scrollHeight > 299 ? "300px" : "auto" ); /* sets max-height for IE */        
	xmax-height: 300px; /* sets max-height value for all standards-compliant browsers */ 
	max-height: 375px; /* sets max-height value for all standards-compliant browsers */ 
	padding: 0;
	overflow: hidden;
	display: block;
}

#PhotoHolder3 #PhotoCrop img {
	margin-top: -18px;
	border: none;
	width: 100%;
	height: auto;
}

.phtocaption, .phtocaption2 {
	color: #555;
	font-size: 12px;
}

.zerospace {
	padding: 0;
	margin:0;
}

#EmbedPhotoLeft, .EmbedPhotoLeft {
	float:left;
	margin-right: 10px;
	width:180px;
}

#EmbedPhotoFullWidth, .EmbedPhotoFullWidth {
	float:left;
	margin-right: 10px;
	width:580px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
}

div#EmbedPhotoFullWidth p.photocaptionFullWidth, div.EmbedPhotoFullWidth p.photocaptionFullWidth {
	color: #555555;
    font-size: 12px;
	width:580px;
	padding-top:20px;
	background-image:url('../images/shadow580.png');
	background-position:top;
	background-repeat:no-repeat;	
	min-height: 10px;
}



#EmbedPhotoRight, .EmbedPhotoRight {
	float:right;
	margin-left: 10px;
	width:180px;
}

#EmbedPhotoLeft img, .EmbedPhotoLeft img, #EmbedPhotoRight img, .EmbedPhotoRight img, #PhotoHolder img {
	border: 1px solid #ddd;
}

#EmbedPhotoFullWidth img, div.EmbedPhotoFullWidth img {
	border: 1px solid #888;
}

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/

.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/

.tabber {
	margin-top: 0;
}

.tabberlive {
	margin-top:10px;
	padding: 0px;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/

ul.tabbernav
{

	margin: 0;
	padding: 5px 0 0;
	border-bottom: 1px solid #CCC;
}

ul.tabbernav li
{
	list-style: none;
	margin: 0;
	display: inline;
}

ul.tabbernav li a
{
	padding: 2px 4px;
	margin-left: 3px;
	border: 1px solid #778;
	border-bottom: none;
	background: #DDE;
	text-decoration: none;
}

ul.tabbernav li a:link {
	
}

ul.tabbernav li a:visited {
	color: #667;
}

ul.tabbernav li a:hover
{
	color: #000;
	background: #DDD;
	border-color: #CCC;
}

ul.tabbernav li.tabberactive a
{
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
	color: #000;
	background: white;
	border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
	padding: 5px 0;
	border-top: 0;
	height: 100%;
	overflow-y: auto;
	width: 100%;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */
 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
 /* seems to fix IE issue where relatively-positioned content inside this element would flow outside it: */
	position: relative; 
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
	display:none;
}

.tabberlive .tabbertab h3 {
	display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 { 
}

.tabberlive#tab2 {
}

.tabberlive#tab2 .tabbertab {
	height:200px;
	overflow:auto;
}

p.mostpopular {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 60%;
	color: #000066;
	padding: 0px 0px 0px 6px;
	margin: 0px;
	display: block;
	background-image:  url(../images/blu_sqrdot.gif);
	background-repeat: no-repeat;
	background-position: 0px 4px;
}

p.mostpopular a {
	color: #333333;
	text-decoration: none;
}

p.mostpopular a:hover {color:#3399CC;}

div#focusColsHolder {
	float: left;
	margin: 0 1px 10px 0;
	padding: 0px;
	width: 48%;
}

/* ====================================================================
	SimpleNav Menu by Adam Liptrot
	http://liptrot.org/journal/entries/two-tier-navigation-with-some-jquery/
=====================================================================*/

.simplenav {margin-bottom:10px;}

/*clearing fix for floats*/
.fix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.fix{display:inline-block;} 
* html .fix{height:1%;}
.fix{display:block;}


/*the basic navigation*/
.simplenav li li {padding-left: 0;}									/*removes the indentation for nested lists set out in the reset css*/
.simplenav {height: 4.7em; position: relative;} 					/*height gives a container to sit the sub-nav within*/
.simplenav ul {margin-left:0;}
.simplenav li {float: left;}										/*makes the list horizontal*/
.simplenav li span {display: block;}								/*puts the 'subtext' on a new line*/

/*additions for placing the nested lists as subnavs*/
.on {position: absolute; bottom: 0; left: 0; width: 100%;}			/*places the sub nav below the main nav*/
.off {top: -9999999px; position: absolute; opacity: 0;}				/*hide the inactive sub navs - leaves them 'visible' to screen readers*/

/*prettifying*/
.simplenav .skip {float: right;}
.simplenav a {padding: 0.5em 1em; display: block; color: #0c3c87; font-weight: bold; font-size: 11px; text-decoration: none;}
.simplenav>ul {background: #ddd;}
.simplenav>ul>li {border-right: 1px solid whitesmoke;}
.skip {border-left: 1px solid #5f5f5f; border-right-width: 0;}
.simplenav>ul>li>a:hover {background: #ccc;}

/*selected tab*/
.here>a {background: #101D50  top left repeat-x; color:#fff;}
.simplenav>ul>li.here>a:hover {background: #101D50 top left repeat-x;}

/*sub menu*/
.on li a, .off li a {font-size: 11px; display: block; }  /*make sure padding and font-size is the same on both on and off states as this is part of the measured width*/
.on {background: #ccc;}
.on li {display: block;}
.here .on {background: #101D50  bottom left repeat-x;}
.here .on li a {color:#fff;}
.on a:hover {text-decoration: underline;}

/*keep the top-level tab selected when moving to the sub nav */
.simplenav li.MenuVisible>a {background: #ccc;}
.simplenav li.MenuVisible>a span {background: transparent none; color: #fff;}

/* 	=============================================================================
	Buttons
	============================================================================*/
	
.btn-primary-news {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #101d50, #1e358c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#101d50), to(#1e358c));
	background-image: -webkit-linear-gradient(top, #101d50, #1e358c);
	background-image: -o-linear-gradient(top, #101d50, #1e358c);
	background-image: linear-gradient(to bottom, #101d50, #1e358c);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff101d50', endColorstr='#ff0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #1e358c;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary-news:hover,
.btn-primary-news:active,
.btn-primary-news.active,
.btn-primary-news.disabled,
.btn-primary-news[disabled] {
	color: #ffffff;
	background-color: #1e358c;
	*background-color: #003bb3;
}

.btn-primary-news .caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid white;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}

.advanced-search .control-label {
	float: left;
	width: 160px;
	padding-top: 5px;
	text-align: right;
	margin-right: 10px;
}

.advanced-search .control-group {
	margin-bottom: 5px;
}

/*	===================================================================================
	Misc.
	==================================================================================*/
.add-this {
	float:right;
	width:70px;
	min-height:275px;
	margin-left:5px;
	padding-left:10px;
	border-left:1px solid #f0f0f0;
}

.old-share {
	margin-top: 10px;
}

.feature-img {
	background: #333;
	color: white;
	margin-top: -30px;
	position: relative;
	display: block;
	height: 30px;
	padding: 6px;
	font-size: 12px;
	line-height: 13px;
}

.main-section-head {
	margin-bottom: 10px;
}

/*
	Datepicker for Bootstrap
	Copyright 2012 Stefan Petre
	Licensed under the Apache License v2.0
	http://www.apache.org/licenses/LICENSE-2.0
*/
 .datepicker {
	top: 0;
	left: 0;
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; /*.dow { border-top: 1px solid #ddd !important; }*/
}
.datepicker:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 6px;
}
.datepicker:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
	top: -6px;
	left: 7px;
}
.datepicker > div {
	display: none;
}
.datepicker table {
	width: 100%;
	margin: 0;
}
.datepicker td, .datepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker td.day:hover {
	background: #eeeeee;
	cursor: pointer;
}
.datepicker td.old, .datepicker td.new {
	color: #999999;
}
.datepicker td.active, .datepicker td.active:hover {
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
	background-color: #0044cc;
}
.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active {
	background-color: #003399 \9;
}
.datepicker td span {
	display: block;
	width: 47px;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 2px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker td span:hover {
	background: #eeeeee;
}
.datepicker td span.active {
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
	background-color: #0044cc;
}
.datepicker td span.active:active, .datepicker td span.active.active {
	background-color: #003399 \9;
}
.datepicker td span.old {
	color: #999999;
}
.datepicker th.switch {
	width: 145px;
}
.datepicker th.next, .datepicker th.prev {
	font-size: 19.5px;
}
.datepicker thead tr:first-child th {
	cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
	background: #eeeeee;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
}



/*	===================================================================================
	HOMEPAGE FEATURE CAROUSEL WITH JQUERY.
	==================================================================================*/


#myCarousel {
	xwidth: 620px;
	position: relative;
}
#uz-carousel-next, #uz-carousel-prev {
	position: absolute;
	top: 60%;
	left: 2px;
	width: 20px;
	height: 20px;
	margin-top: -30px;
	font-size: 30px;
	font-weight: 100;
	line-height: 15px;
	color: #ffffff;
	text-align: center;
	background: #222222;
	border: 3px solid #ffffff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	
	 /* works for IE 5+. */
    filter:alpha(opacity=50); 

    /* works for IE 8. */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* works for old school versions of the Mozilla browsers like Netscape Navigator. */
    -moz-opacity:0.9; 

    /* This is for old versions of Safari (1.x) with KHTML rendering engine */
    -khtml-opacity: 0.9; 

    /* This is the "most important" one because it's the current standard in CSS. This will work in most versions of Firefox, Safari, and Opera. */  
    opacity: 0.9; 
	}
	
	
	
	


#uz-carousel-next {
	right: 5px;
	left: auto;
}
.uz-carousel {
	xheight: 100px;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
	width: 300px
}
.uz-carousel > .wrapper {
	margin: 0;
	padding: 0;
	width: 9999px;
}
.uz-carousel > .wrapper > * {
	border: 0;
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	width: 100px;
}
.thumb {
	position: relative;
	float: left;
	margin-right:0;

}
.thumb img {
	width: 150;
	height: 100;
}
p.text a {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #ffffff;
	line-height:1em;
	padding:2px;
	height:33px;
	background: #222222;
	opacity: 0.6;
	filter: alpha(opacity=50);
	margin-bottom:0;
}


.carousel-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
}
 
.hero-unit-embed {

    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #eeeeee;
    border-radius: 6px;
    padding:1em; 
    margin-top:10px; 
    margin-bottom:10px;
 }
    
.hero-unit-embed p  {  
	font-size:12px;
    line-height:16px;
    margin-bottom:0;
 }

p.cus_relatedlink{
	border-top: 1px solid #0088cc;
	border-bottom: 1px solid #0088cc;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: bold;
}




/*	===================================================================================
	THIS IS FOR IE 
	==================================================================================*/
 /* works for IE 5+. */
    filter:alpha(opacity=50); 

    /* works for IE 8. */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* works for old school versions of the Mozilla browsers like Netscape Navigator. */
    -moz-opacity:0.9; 

    /* This is for old versions of Safari (1.x) with KHTML rendering engine */
    -khtml-opacity: 0.9; 

    /* This is the "most important" one because it's the current standard in CSS. This will work in most versions of Firefox, Safari, and Opera. */  
    opacity: 0.9; 
	}
	
	/*	===================================================================================
	THIS IS END FOR IE 
	==================================================================================*/

/*	===================================================================================
	END OF HOMEPAGE FEATURE CAROUSEL WITH JQUERY.
	==================================================================================*/

